Q1. What is a database? Differentiate between SQL and NoSQL databases.

==>A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

==>Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :
In this section, We will cover the following DDL commands as follows.

1.Create
2.Alter 
3,truncate
4.drop
5.Rename

1.CREATE :
This command is used to create a new table in SQL. 
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2)DROP :
This command is used to remove an existing table along with its structure from the Database.
Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

3)ALTER :
This command is used to add, delete or change columns in the existing table.
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

4)TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.
TRUNCATE TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

==>DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL.

1)INSERT Command –
This command is used to enter the information or values into a row. 
Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('11', 'kalpesh', 'mumbai');

2)UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records.

Example :

UPDATE students

SET due_fees = 50000

WHERE stu_name = 'Akash';

3)DELETE Command –
It deletes all archives from a table or we can also use the WHERE clause to delete a data from particualr table.

Example :

DELETE FROM emp

WHERE id = '456';

Q4. What is DQL? Explain SELECT with an example.

==>>DQL (Data Query Language)
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. 

1)SELECT:
The SELECT Statement in SQL is used to retrieve or fetch data from a database. 
 
EXAMPLE:
SELECT CustomerName, LastName FROM Customer;
(Applying this query we can see the updated table)

Q5. Explain Primary Key and Foreign Key.

==>
1)PRIMARY KEY:
    A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: 
    STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).

2)FOREIGN KEY:
    A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

==>1)execute()

The  execute methodis used to executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %( name )s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True .


2)cursor()

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.

********************MySql connection code**********************
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select c3,c4,c5 from test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

********************Mysql Data Insertion code****************
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()


mycursor.execute("create table if not exists employee.emp_table( emp_id int(12) , Name VARCHAR(23) , salary bigint , designation VARCHAR(23))")


mycursor.execute("insert into employee.emp_table values(45,'Akash', '200000','Data Sceintist') ")
mycursor.execute("insert into employee.emp_table values(48,'Sahil', 22000,'java Developer') ")
mycursor.execute("insert into employee.emp_table values(47,'Pranay', 50000,'Python Developer' )")
mycursor.execute("insert into employee.emp_table values(49,'Spandan', 26000,'Data engineer')")
mycursor.execute("insert into employee.emp_table values(52,'Ramesh', 45000,'Frontened Developer' )")

mydb.commit()
mydb.close()

***********Viewing a table by using following Query****************
    SELECT * FROM employee.emp_table;

OUTPUT :-

In [4]:
# Note : Following code  is implementing to insert an output image.
from IPython.display import Image
  
# get the image
Image(url="emptable.png", width=1000, height=1000)

Q7. Give the order of execution of SQL clauses in an SQL query.

==>Order	Clause	Function
   1	    FROM	Tables are joined to get the base data.
   2	    WHERE	The base data is filtered.
   3	    GROUP BY	The filtered base data is grouped.
   4	    HAVING	  The grouped base data is filtered.
   5	    SELECT	  The final data is returned.
   6	    ORDER BY	The final data is sorted.
   7	    LIMIT	The returned data is limited to row count.